apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
  name: vote
  namespace: vote
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
      - name: vote
        image: registry.digitalocean.com/voting-app-example/vote:<TAG>
        imagePullSecrets:
        - name: voting-app-example-do-registry
        ports:
        - containerPort: 80
          name: vote
